@import "./normalize.css";

:root {
  --primary-color: #4f6f3c;
  --secondary-color: #6b4f2a;
  --accent1-color: #f4f1e6;
  --accent2-color: #ea8b0e;

  --background-light-color: var(--accent1-color);
  --foreground-light-color: var(--accent1-color);
  --foreground-dark-color: var(--secondary-color);

  --header-font: Georgia, "Times New Roman", Times, serif;
  --paragraph-font: Verdana, Geneva, Tahoma, sans-serif;
  --logo-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ===========================================
   GLOBAL
   =========================================== */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-light-color);
  color: var(--foreground-dark-color);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

p,
a,
label {
  font-family: var(--paragraph-font);
}

/* ===========================================
   HEADER
   =========================================== */

header {
  background-color: var(--primary-color);
  height: 5rem;
  align-content: center;
  padding: 0.5rem 2rem;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a, a:hover {
      text-decoration: none;
    }
    h1 {
      margin: 0;
      text-align: center;
      font-family: var(--logo-font);
      color: var(--foreground-light-color);
      cursor: pointer;
    }

    svg {
      color: var(--foreground-light-color);

      &:hover {
        color: var(--accent2-color);
      }
    }

    svg {
      width: 3.5rem;
      fill: var(--foreground-light-color);
      &:hover {
        fill: var(--accent2-color);
      }
    }
  }
}

/* ===========================================
   MAIN
   =========================================== */

main {
  padding: 1rem;

  h2 {
    text-align: center;
  }

  input,
  label {
    display: block;
    text-align: center;
    margin-inline: auto;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    margin-top: 1rem;
    border: solid 0.25rem var(--secondary-color);
    background-color: var(--secondary-color);
    min-height: 40rem;

    .gallery-item {
      position: relative;
      overflow: hidden;
      border: solid 0.25rem var(--secondary-color);

      img {
        width: 100%;
        display: block;
        object-fit: cover;
        height: 200px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgb(0 0 0 / 0.6);
        color: var(--accent1-color);
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  background-color: var(--background-light-color);
  color: var(--foreground-dark-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* ===========================================
   FOOTER
   =========================================== */

footer {
  display: block;
  margin-top: auto;
  background-color: var(--primary-color);
  height: 5rem;
  align-content: center;

  p {
    margin: 0;
    text-align: center;
    color: var(--foreground-light-color);

    a {
      color: var(--foreground-light-color);

      &:hover {
        color: var(--accent2-color);
      }
    }
  }
}
